@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #333; /* RGB */
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
}
section h2 {
  font-size: 2.4rem;
}
a:hover {
  opacity: 0.5;
}
.none{
  display: none;
}

.section-top__image h2,.section-top__lead,.section-reason h2,.section-reason__item-title,.section-reason__item-subtitle,.section-quality h2,.section-farmars h2,.section-farmars__sub-title,.section-set h2,.section-set__sub-title,.section-question h2,.footer small{
font-family: "はれのそら明朝";	
}

.button{
	border: 1px solid #000;
	display: block;
	margin: 25px auto;
	padding: 15px 20px;
	max-width: 250px;
	position: relative;
}
.button p{
	font-size:1.8rem;
	font-weight: 600;
}
.section-top__button{
	border: 1px solid #000;
	display: block;
	margin: 25px auto;
	padding: 15px 20px;
	max-width: 250px;
	position: relative;
}
.section-top__button p{
	font-size:1.8rem;
	font-weight: 600;
}

.triangle-right{
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #030303;
    display: inline-block;
    width: 0;
    height: 0;
	/* 矢印アイコンの位置を設定 */
    position: absolute;
    top: 90%;
    right: 2px;
    transform: translateY(-50%) rotate(45deg); /* rotate(45deg)で矢印を回転（向きを変更）させる */
	
}

.section-top__triangle-right{
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #030303;
    display: inline-block;
    width: 0;
    height: 0;
	/* 矢印アイコンの位置を設定 */
    position: absolute;
    top: 90%;
    right: 2px;
    transform: translateY(-50%) rotate(45deg); /* rotate(45deg)で矢印を回転（向きを変更）させる */
	}
	
@media(min-width:1040px) {
/*PCは白*/
	.section-top__button{
	border: 1px solid #fff;
}
.section-top__button p{
	color: #fff;
}
.section-top__triangle-right{
    border-color: transparent transparent transparent #fff;
	}
}